
{{> head }}

{{> navbar }}

<div class="row">

  <div class="col-8">
   
    <h1>Ushuaia</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae corporis ratione distinctio molestias esse voluptatum reprehenderit iure voluptates quibusdam asperiores, id ipsam qui incidunt quidem mollitia aspernatur laudantium odit similique?</p>

  </div>

  <div class="col-4">
    
    <img src="assets/img/G0119531.JPG" class="img-thumbnail">

  </div>

</div>
{{> footer }}
